@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
    font-family: 'Source Sans Pro';
    width: 80%;
    margin: 24px auto 0 auto;
    font-size: 1.2em;
}

h1 {
    text-align: center;
}

h1 ~ p {
    text-align: center;
}

p, ul {
    margin-left: 24px;
}

.social {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.social a > img {
    width: auto;
    height: 40px;
}